* {
    padding: 0;
    margin: 0;
}

body {
    background-color: antiquewhite;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-top: 3rem;
    margin-bottom: 3rem;
    margin-left: 5%;
    margin-right: 5%;
}

h1 {
    font-size: 3rem;
}

h2 {
    font-size: 2rem;
}

header > img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

nav ul {
    list-style: none;
    text-align: center;

    margin-top: 2rem;
    margin-bottom: 2rem;
    background-color: #8B572E;
}

nav li {
    display: inline-block;
}

li a {
    color: white;
    text-decoration: none;

    font-size: 1.5rem;
    padding-left: 1rem;
    padding-right: 1rem;
}

section {
    display: flex;
}

article {
    flex: 1;
    margin-top: 1rem;
    background-color: seagreen;
}

#promo-banner {
    background-image: url(Lucky-Shrub-logos/promo-banner.jpg);
    color: white;
}

footer {
    display: flex;

}

footer div {
    flex: 1;
}